<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Clients</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="Client/location">Show your current location</a></li>
      <% @clients.each do |client| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => client.object %>">
              <%= client.first %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
