<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @client.first %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @client.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">First</div>
            <div class="itemValue"><%= @client.first %></div>
          </li>
      
          <li>
            <div class="itemLabel">Last</div>
            <div class="itemValue"><%= @client.last %></div>
          </li>
      
          <li>
            <div class="itemLabel">Phone</div>
            <div class="itemValue"><%= @client.phone %></div>
          </li>
      
          <li>
            <div class="itemLabel">Location</div>
            <div class="itemValue"><%= @client.location %></div>
          </li>
      
    </ul>
  </div>

</div>
