<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @client.first %></h1>
    <%= link_to "Edit", :action => :edit, :id => @client.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">First</td>
        <td class="itemValue"><%= @client.first%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Last</td>
        <td class="itemValue"><%= @client.last%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Phone</td>
        <td class="itemValue"><%= @client.phone%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Address</td>
        <td class="itemValue"><%= @client.address%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">City</td>
        <td class="itemValue"><%= @client.city%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">State</td>
        <td class="itemValue"><%= @client.state%></td>
      </tr>
      
    </table>
  </div>

</div>
