<style>
  #footLink {
    font-size:200%;
    line-height:100%;
  }
  
  .footer {
    position:absolute;
    background:red;
    width:100%;
    bottom:0;
  }

</style>

<div data-role="page" id="main" data-hash="false" data-url="<%= Rho::RhoConfig.start_path %>/">

    <div data-role="header" data-position="inline">
      <h1>Solutions Store</h1>
      <% if SyncEngine::logged_in > 0 %>
      <a href="<%= url_for :controller => :Settings, :action => :do_sync %>" class="ui-btn-left" data-icon="refresh">
        Sync
      </a>
      <% end %>
    </div>
 
    <div class="ui-grid-a" align="center">
      <div class="ui-block-a">
        <!--Insert Container Here-->
        <a href="Product" data-role="button" style="padding:5%"><img src="/public/images/inventory.jpeg" /></a>
        <div>Inventory</div>
      </div>
      <div class="ui-block-b">
        <a href="Partner" data-role="button" style="padding:5%"><img src="/public/images/inventory.jpeg" /></a>
        <div>Partners</div>
      </div>
    </div>
    
    <div data-role="footer" data-position="fixed" data-fullscreen="true">
      <div data-role="navbar">
        <ul>
          <li><a href="<%= url_for :controller => :Settings, :action => :about %>" id="footLink">About</a></li>
          <li>
          <% if SyncEngine::logged_in > 0 %>
            <a href="<%= url_for :controller => :Settings, :action => :logout %>" id="footLink">Logout</a>
          <% else %>
            <a href="<%= url_for :controller => :Settings, :action => :login %>" id="footLink">Login</a>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
    
</div>