<div data-role="page" id="main" data-hash="false">
  
  	<div data-role="header" data-position="inline">
      <h1>Products</h1>
      <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
        Home
      </a>
      <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus" data-transition="none">
        New
      </a>
  	</div>
  
    <div data-role="content">
    
      <div class="ui-grid-a" align="center">   
        
        <% toggle = 1 %>
        <% @products.each do |product| %>
          <% if toggle == 1 %>
            <div class="ui-block-a">
                <div data-role="fieldcontain">
                <a href="<%= url_for :action => :show, :id => product.object %>">
                  <div><%= product.name %></div>
                  <img id="picture" src="<%= Rho::RhoApplication::get_blob_path(product.image) %>" onerror="this.src='/public/images/noImage.jpg';" style="max-width:100px; max-height:100px" />
                </a>
                </div>
            </div>
          <% else %>
            <div class="ui-block-b">
                <div data-role="fieldcontain">
                <a href="<%= url_for :action => :show, :id => product.object %>">
                  <div><%= product.name %></div>
                  <img id="picture" src="<%= Rho::RhoApplication::get_blob_path(product.image) %>" onerror="this.src='/public/images/noImage.jpg';" style="max-width:100px; max-height:100px" />
                </a>
                </div>
            </div>
          <% end %>
          <% toggle = -toggle %>
        <% end %>
        
        </div>

    </div>
    
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li>
            <a href="<%= url_for :controller => :Product, :action => :scanTake %>" id="footLink" >
            <span class="ui-btn-footer" onclick="scan();">Scan to Search</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  
</div>