<div data-role="panel" data-id="menu" data-hash="crumbs" data-context="a#default" id="paneled">

  <div data-role="page" id="main" data-hash="false">
  
  	<div data-role="header" data-position="inline">
      <h1>Products</h1>
      <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
        Home
      </a>
      <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
        New
      </a>
  	</div>
  
    <div data-role="content">
      <ul data-role="listview">
        <li><a href="Product\scanTake">Scan to Search</a></li>
        
        <% if System::get_property('has_camera') %>
        <li><a href="<%= url_for :action => :detect_camera %>">Camera Check</a></li>
        <% end %>
        <!--<li><a href="Product\picture">See Product Picture</a></li>-->
        <!--<li><a href="<%= url_for :action => :define_scanner %>">Scan to Search</a></li>-->
        <% @products.each do |product| %>
          <li>
              <a href="<%= url_for :action => :show, :id => product.object %>">
                <%= product.name %>
              </a>
            </li>
        
        <% end %>
      </ul>
    </div>
  
  </div>

</div>
